body {
    background-color: aliceblue;
    color: darkblue;
}

h1 {
    text-align: center;
}

h4 {
    margin-top:15px;
}

.main-content {

}

.small-content {
    width: 50% !important; 
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .small-content {
        width: 80% !important; 
        margin: auto;
    }
}

table {    
    cursor: pointer;
}

.spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
}

button {
    margin-bottom: 15px;
}

